{% extends 'ZIMZIMCategoryProductBundle::layout.html.twig' %}

{% trans_default_domain 'ZIMZIMCategoryProduct' %}

{% block title %}
    {{ 'admincategory.update.title'|trans({'%name%': entity.name}) }}
{% endblock title %}

{% block page %}
    <div class="row">
        <div class="small-2 columns">
            <h1>
                {% if entity.parent %}
                    {{ form(moveup_form) }}
                {% endif %}
            </h1>
        </div>
        <div class="small-8 columns">
            <h1 class="text-center headerpagehome">
                {{ 'admincategory.update.title'|trans({'%name%': entity.name}) }}
            </h1>
        </div>
        <div class="small-2 columns">
            <h1>
                {% if entity.parent %}
                    {{ form(movedown_form) }}
                {% endif %}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns panel">
            {{ form(edit_form) }}
        </div>
    </div>

    <div class="row">
        <div class="small-12 large-4 columns text-center">
            <a class="tiny button" href="{{ path('zimzim_categoryproduct_category') }}">
                {{ 'button.return'|trans }}
            </a>
        </div>
        <div class="small-12 large-4 columns text-center">
            {% if entity.parent %}
                {{ form(delete_form) }}
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {% include 'ZIMZIMCategoryProductBundle::tinymce.html.twig' %}

{% endblock %}
