{% extends 'ZIMZIMCategoryProductBundle::layout.html.twig' %}

{% trans_default_domain 'ZIMZIMCategoryProduct' %}

{% block title %}
    {{ 'admincategory.index.title'|trans }}
{% endblock title %}

{% block page %}
    <div class="row">
        <div class="small-12 columns">
            <h1 class="text-center headerpagehome">
                {{ 'admincategory.index.title'|trans }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <a class="tiny button round" href="{{ path('zimzim_categoryproduct_category_new') }}">
                {{ 'button.create'|trans }}
            </a>
        </div>
    </div>

    {{ grid(grid) }}

{% endblock page %}