{% extends 'ZIMZIMCategoryProductBundle::layout.html.twig' %}

{% trans_default_domain 'ZIMZIMCategoryProduct' %}

{% block title %}
    {{ 'admincategory.index.title'|trans }}
{% endblock title %}

{% block page %}
    <div class="row">
        <div class="small-10 columns">
            <h1 class="text-center headerpagehome">
                {{ 'admincategory.index.title'|trans }}
            </h1>
        </div>
        <div class="small-2 columns">
            <h1 class="text-center headerpagehome">
                <a class="tiny button" href="{{ path('zimzim_categoryproduct_category_new') }}">
                    {{ 'button.create'|trans }}
                </a>
            </h1>
        </div>
    </div>

    {{ grid(grid) }}

{% endblock page %}
