{% extends 'ZIMZIMCategoryProductBundle::layout.html.twig' %}

{% trans_default_domain 'ZIMZIMCategoryProduct' %}

{% block title %}
    {% if entity.title != null %}
        {{ entity.title }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock title %}

{% block metadescription %}
    {% if entity.title != null %}
        {{ entity.title }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock metadescription %}


{% block page %}

    {% block breadcrumbs %}
        {% if entity.Parents|length != 0 %}
            <nav class="breadcrumbs">
                {% for key, parent in entity.Parents if parent != null %}
                    <a {% if parent.id == entity.id %} class="current"{% endif %}
                            {% if parent.slug == "" %}
                                href="{{ path('zimzim_categoryproduct_category_listslugnull') }}"
                            {% else %}
                                href="{{ path('zimzim_categoryproduct_category_listslug', {'slug':parent.slug}) }}"
                            {% endif %}
                            >
                        {{ parent.name }}
                    </a>
                {% endfor %}
            </nav>
        {% endif %}
    {% endblock breadcrumbs %}

    <div class="row">
        <div class="small-10 small-centered columns">
            <div class="row">
                <div class="medium-2 columns hide-for-small">
                    <div class="title-category nomargin">
                        <a {% if entity.slug == "" %}
                            href="{{ path('zimzim_categoryproduct_category_listslugnull') }}"
                        {% else %}
                            href="{{ path('zimzim_categoryproduct_category_listslug', {'slug':entity.slug}) }}"
                        {% endif %}
                                >
                            <img src="/{{ entity.webpath }}" class="full-width"/>
                        </a>
                    </div>
                </div>
                <div class="medium-10 columns">
                    <a {% if entity.slug == "" %}
                        href="{{ path('zimzim_categoryproduct_category_listslugnull') }}"
                    {% else %}
                        href="{{ path('zimzim_categoryproduct_category_listslug', {'slug':entity.slug}) }}"
                    {% endif %}
                            >
                        <h1 class="text-center title-category nomargin">
                            {{ entity.name }}
                        </h1>
                    </a>
                </div>
                {% if entity.content != null %}
                    <div class="medium-12 columns">
                        {{ entity.content|raw }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


    {% if entity.children|length != 0 %}

        <hr class="category">

        <div class="row full-width">
            <div class="small-10 small-centered columns">
                <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
                    {% for child in entity.children %}
                        {% include 'ZIMZIMCategoryProductBundle:Category:include/categorybox.html.twig' with {'child': child} %}
                    {% endfor %}
                </ul>
            </div>
        </div>

    {% endif %}

    {% if entity.categoryproducts|length != 0 %}

        <hr class="category">

        <div class="row full-width">
            <div class="small-10 small-centered columns">
                <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
                    {% for categoryproduct in entity.categoryproducts %}
                        {% include 'ZIMZIMCategoryProductBundle:Category:include/categoryproductbox.html.twig' with {'categoryproduct': categoryproduct} %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

{% endblock page %}